Dataset cocomo81

In [32]:
from scipy.io import arff
import pandas as pd
data = arff.loadarff('datasets/cocomo81.arff')
df = pd.DataFrame(data[0])
df.head()

,rely,data,cplx,time,stor,virt,turn,acap,aexp,pcap,vexp,lexp,modp,tool,sced,loc,actual
0,0.88,1.16,0.70,1.0,1.06,1.15,1.07,1.19,1.13,1.17,1.1,1.00,1.24,1.10,1.04,113.0,2040.0
1,0.88,1.16,0.85,1.0,1.06,1.00,1.07,1.00,0.91,1.00,0.9,0.95,1.10,1.00,1.00,293.0,1600.0
2,1.00,1.16,0.85,1.0,1.00,0.87,0.94,0.86,0.82,0.86,0.9,0.95,0.91,0.91,1.00,132.0,243.0
3,0.75,1.16,0.70,1.0,1.00,0.87,1.00,1.19,0.91,1.42,1.0,0.95,1.24,1.00,1.04,60.0,240.0
4,0.88,0.94,1.00,1.0,1.00,0.87,1.00,1.00,1.00,0.86,0.9,0.95,1.24,1.00,1.00,16.0,33.0

Dataset Nasa

In [25]:
data = arff.loadarff('datasets/nasa_numeric.arff')
df = pd.DataFrame(data[0])
df.head()

,recordnumber,projectname,cat2,forg,center,year,mode,rely,data,cplx,...,acap,aexp,pcap,vexp,lexp,modp,tool,sced,equivphyskloc,act_effort
0,1.0,b'de',b'avionicsmonitoring',b'g',b'2',1979.0,b'semidetached',b'h',b'l',b'h',...,b'n',b'n',b'n',b'n',b'h',b'h',b'n',b'l',25.9,117.6
1,2.0,b'de',b'avionicsmonitoring',b'g',b'2',1979.0,b'semidetached',b'h',b'l',b'h',...,b'n',b'n',b'n',b'n',b'h',b'h',b'n',b'l',24.6,117.6
2,3.0,b'de',b'avionicsmonitoring',b'g',b'2',1979.0,b'semidetached',b'h',b'l',b'h',...,b'n',b'n',b'n',b'n',b'h',b'h',b'n',b'l',7.7,31.2
3,4.0,b'de',b'avionicsmonitoring',b'g',b'2',1979.0,b'semidetached',b'h',b'l',b'h',...,b'n',b'n',b'n',b'n',b'h',b'h',b'n',b'l',8.2,36.0
4,5.0,b'de',b'avionicsmonitoring',b'g',b'2',1979.0,b'semidetached',b'h',b'l',b'h',...,b'n',b'n',b'n',b'n',b'h',b'h',b'n',b'l',9.7,25.2

In [ ]:
Dataset cocomonasa_v1

In [31]:
data = arff.loadarff('datasets/cocomonasa_v1.arff')
df = pd.DataFrame(data[0])
df.head()

,RELY,DATA,CPLX,TIME,STOR,VIRT,TURN,ACAP,AEXP,PCAP,VEXP,LEXP,MODP,TOOL,SCED,LOC,ACT_EFFORT
0,b'Nominal',b'High',b'Very_High',b'Nominal',b'Nominal',b'Low',b'Nominal',b'High',b'Nominal',b'Very_High',b'Low',b'Nominal',b'High',b'Nominal',b'Low',70.0,278.0
1,b'Very_High',b'High',b'High',b'Very_High',b'Very_High',b'Nominal',b'Nominal',b'Very_High',b'Very_High',b'Very_High',b'Nominal',b'High',b'High',b'High',b'Low',227.0,1181.0
2,b'Nominal',b'High',b'High',b'Very_High',b'High',b'Low',b'High',b'High',b'Nominal',b'High',b'Low',b'High',b'High',b'Nominal',b'Low',177.9,1248.0
3,b'High',b'Low',b'High',b'Nominal',b'Nominal',b'Low',b'Low',b'Nominal',b'Nominal',b'Nominal',b'Nominal',b'High',b'High',b'Nominal',b'Low',115.8,480.0
4,b'High',b'Low',b'High',b'Nominal',b'Nominal',b'Low',b'Low',b'Nominal',b'Nominal',b'Nominal',b'Nominal',b'High',b'High',b'Nominal',b'Low',29.5,120.0

Dataset desharnais

In [42]:
data = arff.loadarff('datasets/desharnais.arff')
df = pd.DataFrame(data[0])
df.head()

,Project,TeamExp,ManagerExp,YearEnd,Length,Effort,Transactions,Entities,PointsAdjust,Envergure,PointsNonAjust,Language
0,1.0,1.0,4.0,85.0,12.0,5152.0,253.0,52.0,305.0,34.0,302.0,b'1'
1,2.0,0.0,0.0,86.0,4.0,5635.0,197.0,124.0,321.0,33.0,315.0,b'1'
2,3.0,4.0,4.0,85.0,1.0,805.0,40.0,60.0,100.0,18.0,83.0,b'1'
3,4.0,0.0,0.0,86.0,5.0,3829.0,200.0,119.0,319.0,30.0,303.0,b'1'
4,5.0,0.0,0.0,86.0,4.0,2149.0,140.0,94.0,234.0,24.0,208.0,b'1'

Dataset SEERA

In [36]:
data = pd.read_csv('datasets/seera.csv', sep = ';')
data.head()

,General Information,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Product,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75
0,ProjID,Year of project,Organization id,Organization type,Role in organization,Size of organization,Size of IT department,Customer organization type,Estimated duration,Actual duration,...,Requirement accuracy level,Technical documentation,Comments within the code,User manual,Required reusability,Performance requirements,Product complexity,Security requirements,Reliability requirements,Specified H/W
1,1,2015,1,1,1,16,7,13,2,3,...,?,1,3,1,2,1,2,2,3,1
2,2,2016,25,5,1,2,1,2,2,3,...,2,2,2,1,1,1,1,4,2,1
3,3,2008,2,5,3,2,2,3,3,5,...,3,2,2,2,4,4,3,5,2,3
4,4,2009,42,4,2,3,2,4,6,6,...,1,1,3,4,4,2,4,3,4,2